{% load url from future %}
{% load applications %}
{% load bootstrap3 %}

{% for obj in object_list %}
{% with app=obj.get_object %}
<div class="panel panel-default"><div class="panel-body">
    You've been invited to {{ app.info }}.
    <form class="form-inline pull-right" method="post" action="{% url 'kg_application_detail' app.id %}">{% csrf_token %}
      {% buttons %}
      <button type="submit" name="accept" class="btn btn-primary btn-sm">
        Accept
      </button>
      <button type="submit" name="ignore" class="btn btn-sm">
        Ignore
      </button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endwith %}
{% endfor %}
