{% extends "forms.html" %}
{% load url from future %}
{% load bootstrap3 %}
{% load forms %}


{% block title %}Invite to {{ project.name}}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li><a href='{% url 'kg_project_detail' project.pid %}'>{{ project.pid }}</a></li>
      <li>Invite</li>
    </ol>

    <h2>Invite someone to a project</h2>
    

    Please complete the form to invite someone into the project <strong>{{ project.name}}</strong>.
    
    <form method="post" action="">
      {% csrf_token %}
      {% form_as_div form %}

      <div class="submit-row">
        <input type="submit" value="Invite" class="btn btn-primary" />
      </div>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
