{% extends "main.html" %}
{% load gravatar %}
{% load kguser_projects %}
{% load kguser_people %}

{% block title %}My Profile{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href='{% url "index" %}'>Home</a>&nbsp;›
  People&nbsp;›
  {{ person }}
</div>
{% endblock %}


{% block content %}
<div id="content-main">

  <h1>
    <img style="vertical-align: top;" src="{% gravatar_url person.email 35 %}"/>
    {{ person }}
  </h1>

  <table class="table">
    <tr>
      <td>Email:</td><td colspan="3">{{ person.email|urlize }}</td>
    </tr>
    <tr>
      <td>Institute:</td><td>{{ person.institute }}</td>
      <td>Position:</td><td>{{ person.position|default:"" }}</td>
    </tr>
    {% if person.supervisor %}<tr><td>Supervisor:</td><td>{{ person.supervisor|default:"" }}</td></tr>{% endif %}
    {% if person.telephone %}<tr><td>Phone:</td><td>{{ person.telephone|default:"" }}</td></tr>{% endif %}
    {% if person.mobile %}<tr><td>Mobile:</td><td>{{ person.mobile|default:"" }}</td></tr>{% endif %}
    {% if person.fax %}<tr><td>Fax:</td><td>{{ person.fax }}</td></tr>{% endif %}
    {% if person.address %}<tr><td>Address:</td><td>{{ person.address|default:"" }}</td></tr>{% endif %}
    {% if person.city %}<tr><td>City:</td><td>{{ person.city|default:"" }}</td></tr>{% endif %}
    {% if person.state %}<tr><td>State:</td><td>{{ person.get_state_display|default:"" }}</td></tr>{% endif %}
    {% if person.postcode %}<tr><td>Postcode:</td><td>{{ person.postcode|default:"" }}</td></tr>{% endif %}
    {% if person.country %}<tr><td>Country:</td><td>{{ person.get_country_display|default:"" }}</td></tr>{% endif %}
  </table>

  {% for ua in person.account_set.all %}
  {% if ua.date_deleted %}
  <div class="alert alert-warning">Account is disabled.</div>
  {% endif %}
  <div class="panel panel-default">
    <nav id="local-nav" class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#local-nav .navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">
            {{ ua.username }}
          </span>
        </div>
        <div class="navbar-collapse collapse">
          <span class="navbar-text navbar-right">
            Default Project:
            <a href="{{ ua.default_project.get_absolute_url }}">
              {{ ua.default_project.pid }}
            </a>
          </span>
        </div>
      </div>
    </nav>
    <div class="panel-body">
      {% if ua.project_list %}
      <h3>Projects</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project</th>
            <th>Institute</th>
            <th>Leaders</th>
          </tr>
        </thead>
        <tbody>
          {% for project in ua.project_list %}
          <tr class="{% cycle row1,row2 %}">
            <td>
              <strong>
                {% if project|can_view_project:request %}
                <a title="{{ project.name }} ({{ project.pid }})"
                   href="{{ project.get_absolute_url }}">
                  {{ project.name }}
                </a>
                {% else %}
                <span title="{{ project.name }} ({{ project.pid }})">
                  {{ project.name }}
                </span>
                {% endif %}
              </strong>
            </td>
            <td>{{ project.institute }}</td>
            <td>
              {% for leader in project.leaders.all %}
              {% if leader|can_view_person:request %}
              <a href="{{ leader.get_absolute_url }}">{{ leader }}</a>
              {% else %}
              <span title="{{ leader }} ({{ leader.institute }})">
                {{ leader }}
              </span>
              {% endif %}
              {% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      {% if ua.get_latest_usage %}
      <h3>Latest Usage</h3>
      {% gen_table ua.get_latest_usage %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
