{% extends "main.html" %}
{% load url from future %}
{% load forms %}{% load filters %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>Projects</h1>
{% if project_list %}
{% for ua in person.account_set.all %}
<div class="panel panel-default">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-text">{{ ua }}</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Default: {{ ua.default_project.name }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for p in ua.project_list %}
            <li>
            {% ifequal p ua.default_project %}
            {% else %}
            <a
               href="{% url 'kg_account_set_default' ua.id p.pid %}?next={% url 'kg_user_profile_projects' %}">
              {{ p.name }}
            </a>
            {% endifequal %}
            </li>
           {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Project</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        {% for p in ua.project_list %}
        <tr class="{% cycle row1,row2 %}">
          <td>
            {% if user in p.leaders.all %}
            <span class="glyphicon glyphicon-user" title="Leader"></span>
            {% else %}
            <span class="glyphicon"></span>
            {% endif %}
            <a href="{{ p.get_absolute_url }}" title="{{ p.name }} ({{ p.pid }})">{{ p.name }}</a>
          </td>
          <td>{{ p.start_date|date }}</td>
          <td>{{ p.end_date|date|default:"-" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
