{% extends "common/profile_base.html" %}
{% load bootstrap3 %}

{% block title %}Edit Profile{% endblock %}


{% block content %}
<h1>Personal Details</h1>
{% if form.has_errors or form.non_field_errors%}
<p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<form method="post" class="form" role="form" action="">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="row">
    <div class="col-md-6">
      {% bootstrap_field form.title %}
    </div>
    <div class="col-md-6">
  {% bootstrap_field form.full_name %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
  {% bootstrap_field form.short_name %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% bootstrap_field form.department %}
    </div>
    <div class="col-md-6">
      {% bootstrap_field form.position %}
    </div>
  </div>
  {% bootstrap_field form.supervisor %}
  <div class="row">
    <div class="col-md-6">
      {% bootstrap_field form.telephone %}
    </div>
    <div class="col-md-6">
      {% bootstrap_field form.mobile %}
    </div>
  </div>
  {% bootstrap_field form.address %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">Save</button>
  {% endbuttons %}
</form>
{% endblock %}
