{% extends "main.html" %}
{% load url from future %}
{% load forms %}
{% load filters %}
{% load kguser_messages %}
{% load kguser_projects %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>Projects</h1>
{% if project_list %}
{% for ua in person.account_set.all %}
<div class="panel panel-default">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-text"><strong>{{ ua.username }}</strong></p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <strong>Default:</strong>
            {{ ua.default_project.name }} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% for p in ua.project_list %}
            {% ifnotequal p ua.default_project %}
            <li >
              <form id="{{ ua.id }}-{{ p.id }}"
                    method="POST"
                    action="{% url 'kg_account_set_default' ua.id p.pid %}">
                {% csrf_token %}
                <input type="hidden" value="{% url 'kg_user_profile_projects' %}" name="next"/>
              </form>
              <a onclick="$('#{{ ua.id }}-{{ p.id }}').submit()" href="#">
                {{ p.name }}
              </a>
            </li>
            {% endifnotequal %}
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  {% if ua.project_list|lead_by:user %}
  <div class="panel-body">
    <h4>Projects you lead</h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Project</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      {% for p in ua.project_list|lead_by:user %}
      <tr class="{% cycle row1,row2 %}">
        <td>
          <strong>
            <a href="{{ p.get_absolute_url }}" title="{{ p.name }} ({{ p.pid }})">
              {{ p.name }}
            </a>
          </strong>
          {% if user in p.leaders.all and p|has_improvement %}
          <span class="glyphicon glyphicon-exclamation-sign" title="This project has some pending action."></span>
          {% endif %}
        </td>
        <td>{{ p.start_date|date }}</td>
        <td>{{ p.end_date|date|default:"-" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <hr/>

  {% if ua.project_list|not_lead_by:user %}
  <div class="panel-body">
    <h4>Projects you work on</h4>

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Project</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      {% for p in ua.project_list|not_lead_by:user %}
      <tr class="{% cycle row1,row2 %}">
        <td>
          <strong>
            <a href="{{ p.get_absolute_url }}" title="{{ p.name }} ({{ p.pid }})">
              {{ p.name }}
            </a>
          </strong>
        </td>
        <td>{{ p.start_date|date }}</td>
        <td>{{ p.end_date|date|default:"-" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endfor %}
{% endif %}
{% endblock %}
