{% extends "main.html" %}

{% block title %}Username Change{% endblock %}

{% block content %}
<div class="module">
    <h2>Username Change</h2>

    {% if form.has_errors %}
    <p class="error">Generic error message</p>
    {% endif %}

    <p>To better support some services you are aloud one username
    change to a compatable name. Your current username is
    <b>{{user.username }}</b>.</p>

    <form action="" method="post">{% csrf_token %}
        {% load forms %}
        <div>
            <fieldset class="module aligned ()">
              {{ form.non_field_errors }}
              {% formfield form.username %}
            </fieldset>
        </div>
        <input type="submit" value="Change my username"/>
    </form>
</div>
{% endblock %}
