{% extends "main.html" %}
{% load kguser_messages %}
{% block title %}Home{% endblock %}

{% block content %}
{% improvement_message user %}
<div class="row">
  <div class="col-md-6">
    <h1>Welcome to Karaage</h1>
    <p>On this site you can:</p>
    <ul>
        <li>Check/edit your personal details</li>
        <li>View your projects and usage</li>
        <li>View and agree to license terms for restricted software</li>
        <li>Change your password</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h1>Help?</h1>
    
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
    hendrerit tempor tellus. Donec pretium posuere tellus. Proin quam
    nisl, tincidunt et, mattis eget, convallis nec, purus. Cum sociis
    natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Nulla posuere. Donec vitae dolor. Nullam tristique
    diam non turpis. Cras placerat accumsan nulla. Nullam rutrum. Nam
    vestibulum accumsan nisl.
  </div>
</div>
{% endblock %}
