{% extends "main.html" %}
{% load url from future %}
{% load bootstrap3 %}
{% load gravatar %}
{% load kguser_messages %}
{% load kguser_projects %}

{% block title %}{{ project.name }} | Project{% endblock %}

{% block content %}
{% if project|has_leader:user %}
  {% improvement_message project %}
{% endif %}
<h1>{{ project.name }}</h1>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    {% if project.is_active and user in project.leaders.all %}
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="{% url 'kguser_invite_user' project.pid %}">
          <span class="glyphicon glyphicon-plus"></span>
          Invite User
        </a>
      </li>
      <li>
        <a href="{% url 'kg_project_edit' project.pid %}">
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        </a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>


<div class="row">
  <div class="col-md-6">
    <div class="container-fluid">
      <table class="table">
        <tr><td>Institute:</td><td colspan="3">{{ project.institute }}</td></tr>
        <tr><td>Start Date:</td><td>{{ project.start_date|date }}</td><td>End Date:</td><td>{{ project.end_date|date }}</td></tr>
        <tr><td>Approved:</td>
          <td>
            {% if project.is_approved %}
            <span class="glyphicon glyphicon-ok-circle"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove-circle"></span>
            {% endif %}
          </td>
          <td>Active:</td>
          <td>
            {% if project.is_active %}
            <span class="glyphicon glyphicon-ok-circle"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove-circle"></span>
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container-fluid">
      <p>
        {{ project.description }}
      </p>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-6">
    <div class="container-fluid">
      {% if project.leaders.all %}
      <h2>Leaders</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
          <tbody>
            {% for l in project.leaders.all %}
            <tr>
              <td>
                <a href="{{ l.get_absolute_url }}">{% gravatar l.email 30 %} {{ l }}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>

  {% if project.group.members.all %}
  <div class="col-md-6">
    <div class="container-fluid">

      <h2>Users</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            {% if request.user.get_profile in project.leaders.all %}
            <th></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for person in project.group.members.all %}
          <tr>
            <td>
              {% if user.is_authenticated %}
              <a href="{{ person.get_absolute_url }}" title="{{ person.get_full_name }} ({{ person.username }})">
                {% gravatar person.email 20 %}
                {{ person.get_full_name }}
                {% if not person.is_active %}
                <strong>(disabled)</strong>
                {% endif %}
              </a>
              {% else %}
              {{ person.get_full_name }}
              {% endif %}
            </td>
            {% if request.user.get_profile in project.leaders.all %}
            <td class="text-right">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu text-left" role="menu">
                  <li>
                    <a class="deletelink" href="{% url 'kg_remove_project_member' project.pid person.username %}">
                      Remove
                    </a>
                  </li>
                </ul>
              </div>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
  {% endblock %}
